@font-face {
    font-family: 'pro';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }

$primaryColor : blue;

*{
    font-family: 'pro';
    box-sizing: border-box;
}

body,html {
    margin: 0;
    padding: 0;
}

body{
    background-image : linear-gradient(315deg, #B06AB3 0%, #4568DC 74%);
    height: 100vh;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

#loginForm{
    padding: 20px;
    display: inline-block;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 20px;

    h1{
        color: black;
    }

    #auth{
        color: $primaryColor;
    }

    #fire{
        color: rgb(248, 89, 31);
    }

    form{
        .inputContainer{
            display: inline-block;
            text-align: left;

            input{
                margin-top: 2px;
                border: 1px solid gray;
                border-radius: 2px;
                background-color: transparent;
                font-size: 18px;
            }
        }

        #enter{
            background-color: $primaryColor;
            color: whitesmoke;
            padding: 6px 25px;
            border: none;
            border-radius: 5px;
            font-size: 15px;
        }
    }

}
